services:
  db:
    container_name: films-db
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - ${DB_PORT}:${DB_PORT}
    networks:
      - webnet
    environment:
      MYSQL_ROOT_PASSWORD: 645058001_Bran
  webapp:
    container_name: films-api
    build:
      context: .
      target: development
    ports:
      - ${API_PORT}:${API_PORT}
    command: npm run start:dev
    env_file:
      - .env
    networks:
      - webnet
    depends_on:
      - db
networks:
  webnet:
